.to-do__list {
  list-style: none;
  display: flex;
  flex-direction: column;
}

.todo-list__fallback {
  margin-top: 6.8rem;
  font-size: 1.8rem;
  color: rgb(186, 125, 125);
  text-align: center;
}
